doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.fixed-top.navbar-expand-md
      .container
      a.navbar-brand(href='/') Loc8r
      button.navbar-toggler.navbar-toggler-left(type='button',data-toggle='collapse',
      data-target='#navbarMain',style='outline: none')
        span.navbar-toggler-icon(onclick='navButton(this)')
          .bar1
          .bar2
          .bar3
      #navbarMain.navbar-collapse.collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/about/') About
    .container.content
      block content
      footer
        .row
          .col-12
            small &copy; Steven Silvers 2018
      script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
      script(src='/javascripts/bootstrap.min.js')
      script.
        function navButton(x){x.classList.toggle("change")}